html 
    head   
        title Listagem de Produtos 
    body
        h1 Listagem de Produtos
        a(href='products/form') Formulario de Produtos
        ul
        each product in productsList
            li=product.name