html 
    head   
        title Home 
    body
        h1 Olá, estou funcionando!      
        a(href='Fabricante') Fabricante
        br
        a(href='products') Produtos
        br
        a(href='total') total